{% extends "ais_gen/base.html" %}

{% block content %}

    <h5>Postup</h5><br>
    <ul>
        <li>Z pracovní složky si stáhněte AIS šablonu.</li>
        <li>Klikněte na generátor AIS</li>
        <li>Zvolte měsíc a rok pro danou AIS, poté vložte soubor se službami na daný měsíc.</li>
        <li>Kikněte "Dále"</li>
        <li>Vyberte své jméno a klikněte "Generovat"</li>
        <li>Uloží se Vám excelový soubor, který nepředstavuje celou AIS, ale pouze část se službama.</li>
        <li>Zkopírujte obsah vygenerovaného souboru a vložte jej do stažené AIS šablony</li>
    </ul>
    <p>
    Je pravděpodobné, že něco někde nebude fungovat, stránka je stále ve fázi testování. Rovněž je samozřejmé, že neručím
    za správnost vygenerovaných dat, chybička se může kdykoliv vloudit, proto prosím svou AIS před odevzdáním zkontrolujte.
    </p>
{% endblock %}

